.subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  background-color: transparent;
  color: var(--foreground);
  padding: 0 20px;
  transition: background-color 0.3s, color 0.3s;
}

.card {
  width: 360px;
  height: fit-content;
  padding: 20px;
  text-align: center;
  display: flex;
  gap: 1em;
  align-items: center;
  flex-direction: column;
  background: var(--card);
  border: 1px solid var(--border);
  border-radius: 20px;
  transition: all 0.3s;
}

.card__header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5em;
}

.card__title {
  width: 100%;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--card-foreground);
  transition: all 0.3s;
}

.card__content {
  width: 100%;
  font-size: 0.85rem;
  line-height: 1.5rem;
  text-align: justify;
  text-align-last: center;
  hyphens: auto;
  color: var(--card-foreground);
  transition: all 0.3s;
}

.card__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-form_input-key {
  position: relative;
  display: flex;
  align-items: center;
}

.card__form input {
  width: 100%;
  outline: 0;
  font-size: 0.9rem;
  color: var(--card-foreground);
  background: var(--input);
  box-shadow: transparent 0px 0px 0px 1px inset;
  padding: 1em;
  border-radius: 14px;
  border: 1px solid var(--border);
  transition: all 0.3s;
}

.card__form.input-number {
  padding: 0.5rem 1rem;
}

.card-form_input-key input {
  padding: 1em 85px 1em 1em;
}

.google-btn,
.getKey-btn {
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  outline: 0;
  background-color: var(--primary-foreground);
  box-shadow: transparent 0px 0px 0px 1px inset;
  padding: 0.6em 0.8em;
  border-radius: 10px;
  border: 1px solid var(--border);
  color: var(--foreground);
  height: auto;
  transition: all 0.3s;
}

.getKey-btn:hover {
  background-color: var(--primary);
  color: var(--primary-foreground);
}

.google-btn {
  display: flex;
  padding: 0.4em;
  background: transparent;
  border: none;
}

.subscribe-btn {
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid var(--border);
  border-radius: 15px;
  color: var(--card-foreground);
  z-index: 1;
  background: var(--primary-foreground);
  position: relative;
  font-weight: bold;
  font-size: 1.2rem;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
}

.subscribe-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  height: 0;
  width: 0;
  border-radius: 15px;
  background-color: var(--primary);
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

.subscribe-btn:hover {
  color: var(--primary-foreground);
}

.subscribe-btn:hover::before {
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
}

.subscribe-btn:active {
  transform: scale(80%);
}

.card__form-select {
  width: 100%;
  outline: 0;
  color: var(--card-foreground);
  background: var(--input);
  box-shadow: transparent 0px 0px 0px 1px inset;
  padding: 0.6em;
  border-radius: 14px;
  border: 1px solid var(--border);
  font-size: 0.9rem;
  transition: all 0.3s;
}

.card__form-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"); /* Icon mũi tên tùy chỉnh */
  background-repeat: no-repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
  padding-right: 2em;
}

.card__form-select option[value=""][disabled] {
  color: var(--muted-foreground, #a1a1aa);
  opacity: 0.7;
  transition: all 0.3s;
}

.card__form-select:focus {
  border-color: var(--primary);
  box-shadow: 0 0 0 1px var(--primary);
}

.card__form input[type="number"]::-webkit-outer-spin-button,
.card__form input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.card__info-title {
  cursor: pointer;
  color: var(--card-foreground);
  font-size: 0.85rem;
  user-select: none;
}

.card__info-title:active {
  color: #0077b8;
}

.card__info-title:active {
  text-decoration: underline;
}

.card-form_input-key.apikey-error__input {
  border: 1px solid var(--destructive);
  border-radius: 14px;
}

.form-error-message {
  color: #ef4444;
  font-size: 0.8rem;
  text-align: left;
  margin-top: -5px;
  margin-bottom: 5px;
  width: 100%;
}
